:root {
  --fondoPrincipal: #00a5b5;
  --fondoSecion: #71c5e8;
  --fondoComponentes: #e03e52;
  --colorBotones: #ffd23f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #00072d;
  background: linear-gradient(180deg, #001c55, #00072d);
  height: 100vh;
}

.contentDiv {
  width: 1157px;
  height: 546;
  padding: 5px;
  border-radius: 10px;
  color: #ffffff;

  background: linear-gradient(to bottom, #d9d9d970, #73737373);
  position: relative;
}
.form-torneo {
  margin-left: 10px;
  color: #ffffff;
}
.form-control,
.form-select {
  width: 300px;
}
.btn {
  background: var(--colorBotones);
}
/* .contentTorneo {
  position: relative;
  z-index: 1; 
  padding: 20px;
  color: white; } */
