{% extends 'layout.html' %} 

{% block content %}
<div class="contentTorneo">
    <section class="">
     

      <div class="container hero-content text-center">
        <h1 class="display-4 mb-4">
          Organiza Torneos de Fútbol como un Profesional
        </h1>
        <p class="lead mb-5">
          Gestiona equipos, programa partidos y lleva estadísticas en tiempo
          real con nuestra plataforma todo en uno.
        </p>
        <div class="auth-buttons">
          <a href="/register-torneo" class="btn btn-warning btn-lg">Crear Torneo</a>
      </div>
    </section>
</div>
    {% endblock %}
