{% extends 'layout.html' %} {% block content %}
<div class="contentTorneo">
  <h1 class="text-center">Equipos</h1>
  <div class="row">
    {% if equipos %}
    <div class="table-responsive-lg tableEquipos">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Equipo</th>
            <th scope="col">Escudo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for equipo in equipos %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ equipo.nombre }}</td>
            <td>
              <img
                src="{{ equipo.escudo}}"
                alt="Escudo de {{ equipo.nombre }}"
                style="width: 40px; height: 40px"
              />
            </td>
            <td>
              <a
                href="#"
                class="btn btn-warning btn-sm mx-3 registrar-jugadores"
                data-id-equipo="{{ equipo.id_equipo }}"
              >
                Registrar Jugadores
              </a>

              <a
                href="{{ url_for('app_routes.verEquipo', id_equipo=equipo.id_equipo) }}"
                class="btn btn-warning btn-sm mx-3"
              >
                Ver Equipo
              </a>

              <button class="btn btn-warning btn-sm">Eliminar</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="mt-2">
      <a
        href="{{url_for('app_routes.viewTorneo',id_torneo=id_torneo)}}"
        class="btn btn-warning"
        ><i class="bi bi-arrow-left"></i> Atras</a
      >
      <a
        href="{{ url_for('app_routes.fixtures', id_torneo=id_torneo) }}"
        class="btn btn-warning"
      >
        Generar Cruces
      </a>
    </div>
    {% else %}
    <p class="text-center mt-3">No hay equipos registrados.</p>
    <div class="mt-2">
      <a
        href="{{url_for('app_routes.viewTorneo',id_torneo=id_torneo)}}"
        class="btn btn-warning"
        ><i class="bi bi-arrow-left"></i> Atras</a
      >
      <a
        href="{{ url_for('app_routes.addEquipos', id_torneo=id_torneo) }}"
        class="btn btn-warning"
      >
        Registrar Equipos
      </a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
