{% extends 'layout.html' %} {% block content %}
<div class="contentTorneo">
  <h1 class="text-center mb-3">Equipo Aguilas</h1>
  <div class="row">
    <div class="mb-3">
      <a href="#" class="btn btn-warning" type="button">
        <i class="bi bi-arrow-left"></i> Back
      </a>
    </div>
    <div class="col-md-4">
      <form class="form-torneo" id="formJugadores">
        <h4>Jugador</h4>
        <input
          type="hidden"
          id="idEquipo"
          name="idEquipo"
          value="{{ id_equipo }}"
        />
        <div class="mb-3">
          <label for="">Identificacion</label>
          <input
            type="number"
            class="form-control"
            id="identificacion"
            name="identificacion"
          />
        </div>
        <div class="mb-3">
          <label for="">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" />
        </div>
        <div class="mb-3">
          <label for="">Posicion</label>
          <input
            type="text"
            class="form-control"
            id="posicion"
            name="posicion"
          />
        </div>
        <div class="mb-3">
          <label for="">Fecha Nacimiento</label>
          <input
            type="date"
            class="form-control"
            id="fechaNac"
            name="fechaNac"
          />
        </div>
        <div class="mb-3">
          <label for="">Edad</label>
          <input type="number" class="form-control" id="edad" name="edad" />
        </div>
        <div class="mb-3">
          <label for="">Nacionalidad</label>
          <input
            type="text"
            class="form-control"
            id="nacionalidad"
            name="nacionalidad"
          />
        </div>
        <label for="">Sexo</label>
        <div class="form-check display-flex">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="hombre"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Hombre
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="mujer"
            checked
          />
          <label class="form-check-label" for="flexCheckChecked"> Mujer </label>
        </div>
        <div class="mt-2">
          <button class="btn btn-warning" type="submit">Agregar</button>
        </div>
      </form>
    </div>
    <div class="col-md-8 mb-4">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Identificacion</th>
            <th>Nombre</th>
            <th>Fecha Nacimiento</th>
            <th>Edad</th>
            <th>Sexo</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
{% endblock %}
