{% extends 'layout.html' %} {% block content %}
<div class="showTorneo ">
   
  <h1 class="text-center mb-5">Torneo</h1>
  <div class="row text-center ">
    <di class="col">
        <div class="card cardViewTorneo text-center">
          <img src="{{url_for('static', filename='img/football-team.png')}}" style="width: 100px;", height="100px;" >
            <div class="card-body">
              <h4 class="card-title">Equipos</h4>
              <a href="/equipos/{{id_torneo}}" class="btn btn-warning my-3">Ver</a>
            </div>
        </div>
    </di>
    <di class="col">
        <div class="card cardViewTorneo">
            <div class="card-body">
              <h4 class="card-title">Partidos</h4>
              <a href="/partidos/{{id_torneo}}" class="btn btn-warning my-3">Ver</a>
            </div>
        </div>
    </di>
    <di class="col">
        <div class="card cardViewTorneo">
            <div class="card-body">
              <h4 class="card-title">Estadisticas</h4>
              <a href="" class="btn btn-warning my-3">Ver</a>
            </div>
          </div>
    </di>
    <di class="col">
        <div class="card cardViewTorneo">
            <div class="card-body">
              <h4 class="card-title">Ubicaciones</h4>
              <a href="/ubicacion/{{id_torneo}}" class="btn btn-warning my-3">Registrar</a>
            </div>
          </div>
    </di>
    <di class="col">
        <div class="card cardViewTorneo">
            <div class="card-body">
              <h4 class="card-title">Arbitros</h4>
              <a href="/arbitro/{{id_torneo}}" class="btn btn-warning my-3">Registrar</a>
            </div>
          </div>
    </di>
   
  </div>
 
 
  <a href="/dashboard" class="btn btn-warning mx-2 my-5" type="button">
    <i class="bi bi-arrow-left"></i>
    Atras
  </a>
  </div>
  

  {% endblock %}
</div>
